.container {
  width: 100%;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: calc(100vw - 4rem);
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: calc(100vw - 6rem);
    padding: 0 3rem;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1200px;
  }
}
